@{
    ViewBag.Title = "Home Page";
}

<h2>Interesting facts about WEAPONS</h2>
<img src=" https://www.brickizimo-toys.com/12171-thickbox_default/brickarms-german-weapon-pack.jpg" height="500" width="500"> <img src=" https://wtffunfact.com/wp-content/uploads/2019/06/fun-facts-best-guns.png" height="350" width="400">
<img src=" https://i.pinimg.com/564x/4e/b5/4d/4eb54d03f76c09d346cf7b812b5ca15c.jpg" height="500" width="500"> <img src=" https://wtffunfact.com/wp-content/uploads/2019/06/fun-facts-syrian-rebels-are-using-nazi-weapons-wtf-fun.png" height="500" width="500">
<img src="https://64.media.tumblr.com/c24ca5d3febdacb84e80e6a6a0d82bc2/tumblr_nxmd81SltY1roqv59o1_500.png" height="500" width="500"> <img src="https://i.pinimg.com/564x/9b/84/58/9b84585043b29d082b1f3938c1340db8.jpg" height="500" width="500">
<p></p>
<p style="font-size:30px">Fun video about history of Weapons!</p>
<iframe width="500" height="400" src="https://www.youtube.com/embed/chWOqVqQTa0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>